$lighter-text-color: #ededed;

// $project-background: (id, background-color, background-image, background-position);
$project-background:(
  (hello, #fafafa, none, 0 0),
  (springer, #00244e, url(../img/section-background/adis-mock.png), top center),
  (vikalp, #fff, url(../img/section-background/vikalp.png), top center),
  (jetairways, #00244e, url(../img/section-background/jet-airways.png), top center),
  (unicef, #fff, url(../img/section-background/unicef.png), top center),
  (healthcareathome, #4ab9e2, url(../img/section-background/healthcare.png), top center),
  (unilever,#62B804, url(../img/section-background/Knorrilicious.png), top center)
);


// $project-section-text: (id, heading-color, body-text-color);

$project-section-text:(
  (hello, $body-text-color, $body-text-color),
  (springer, #f0890f, $lighter-text-color),
  (vikalp, #9f332f, $body-text-color),
  (jetairways, #f8af00, $lighter-text-color),
  (unicef, $body-text-color, $body-text-color),
  (healthcareathome, #fff, $lighter-text-color),
  (unilever,#fff,#fff)
);