@each $id, $background in $project-section-background{
  ##{$id}{
    background-color: $background;
    @include selection($background);
  }
}

@each $id, $background in $project-section-background-image{
  ##{$id}{
    background: {
      image: $background;
      repeat: no-repeat;
    }
    @media (min-width: 960px){
      background: {
        size: $project-background-space auto;
        position: center right;
      }
      padding-top: 0;
    }
  }
}

@each $id, $background-position in $project-section-background-image-position-mobile{
  ##{$id}{
    background: {
      position: $background-position;
    }
  }
}

@each $id, $background-position in $project-section-background-image-position-desktop{
  ##{$id}{
    background: {
      position: $background-position;
    }
  }
}

@each $id, $background-size in $project-section-background-image-position-mobile-size{
  ##{$id}{
    background: {
      size: $background-size; 
    }
  }
}

@each $id, $background-size in $project-section-background-image-position-desktop-size{
  ##{$id}{
    background: {
      size: $background-size; 
    }
  }
}


@each $id, $padding-top in $project-section-padding-top{
  ##{$id}{
    .project-description-section{
      padding-top: $padding-top;
      @media (min-width: 960px){
        padding-top: 0;
      }
    }
  }
}


#healthcareathome{
  @media (min-width: 960px){
    background-size: auto 80%;
  }
}

@each $id, $text-color in $project-section-text-color{
  ##{$id}{
    color: $text-color;
    .section-header{
      color: $text-color;
      line-height: 1.3em;
    }
  }
}

.project-section{
  display: flex;
  align-items: center;
  &#hello{
    display: block;
  }
}
#healthcareathome-extention{
  text-align: center;
  img{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
  }
} 

