@each $id, $background-color, $background-image, $background-position in $project-background{
  ##{$id}{
    background: {
      color: $background-color;
      image: $background-image;
      position: $background-position;
    }
    @include selection($background-color);
  }
}

@each $id, $heading-color, $body-text-color in $project-section-text{
   ##{$id}
    {
     color: $body-text-color;
     line-height: 1.3em;
     .section-header{
       color: $heading-color;
     }
     p{
        @media (max-width: 687px){
          text-align: justify;
        }
      }
   }
 }

.project-section{
  display: flex;
  align-items: center;
  &#hello{
    display: block;
  }
}
#healthcareathome-extention{
  text-align: center;
  img{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
  }
} 