@each $id, $background-color, $background-image, $heading-text-color, $body-text-color in $project-background{
  ##{$id}{
    background: {
      color: $background-color;
      image: $background-image;
      repeat: no-repeat;
    }
    color: $body-text-color;
    line-height: 1.3em;
    @include selection($background-color);
    .section-header{
      color: $heading-text-color;
    }
    p{
      @media (max-width: 687px){
        text-align: justify;
      }
    }
  }
}

 @each $id, $mobile-size, $ipad-size, $desktop-size in $project-background-size{
  ##{$id}{
    background-size: $mobile-size;
    @media (min-width: 687px){
      background-size: $ipad-size;
    }
    @media (min-width: 960px){
      background-size: $desktop-size;
    }
  }
}


@each $id, $mobile-position, $ipad-position, $desktop-position in $project-background-position{
  ##{$id}{
    background-position: $mobile-position;
    @media (min-width: 687px){
      background-position: $ipad-position;
    }
    @media (min-width: 960px){
      background-position: $desktop-position;
    }
  }
}

@each $id, $ipad-text-spacing, $mobile-text-spacing in $project-mobile-view-text-spacing{
  ##{$id}{
    .page-spacer{
      @media (max-width: 687px){
        padding-top: $mobile-text-spacing;
      }
      @media (min-width: 688px) and (max-width: 959px){
        padding-top: $ipad-text-spacing;
      }
    }
  }
}


.project-section{
  display: flex;
  align-items: center;
  &#hello{
    display: block;
  }
}
#healthcareathome-extention{
  text-align: center;
  img{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
  }
} 